In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('imoveis_vivareal_scraping.xlsx')
df

,metragem,quartos,banheiros,vagas,valor,iptu,condominio,nome_rua
0,Tamanho do imóvel\n52 m²,Quantidade de quartos\n2,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n2,R$ 270.000,R$ 85,R$ 380,Rua Ítalo Bordini
1,Tamanho do imóvel\n604 m²,Quantidade de quartos\n4,Quantidade de banheiros\n7,Quantidade de vagas de garagem\n3,R$ 11.800.000,R$ 873,R$ 1.659,Alameda Mamoré
2,Tamanho do imóvel\n60 m²,Quantidade de quartos\n2,Quantidade de banheiros\n2,Quantidade de vagas de garagem\n1,R$ 395.000,R$ 130,R$ 120,Rua Marília
3,Tamanho do imóvel\n69 m²,Quantidade de quartos\n2,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n1,R$ 450.000,NaN,NaN,NaN
4,Tamanho do imóvel\n75 m²,NaN,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n2,R$ 350.000,NaN,NaN,Avenida Valentim Magalhães
...,...,...,...,...,...,...,...,...
95,Tamanho do imóvel\n58 m²,Quantidade de quartos\n2,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n1,R$ 180.000,NaN,R$ 234,Rua Gladstone de Abreu Cardoso
96,Tamanho do imóvel\n139 m²,Quantidade de quartos\n3,Quantidade de banheiros\n3,NaN,R$ 305.000,NaN,NaN,Rua Jussara
97,Tamanho do imóvel\n62 m²,Quantidade de quartos\n3,Quantidade de banheiros\n2,Quantidade de vagas de garagem\n1-2,R$ 295.000,R$ 57,R$ 560,Rua Professora Edina Rocha de Freitas
98,Tamanho do imóvel\n250 m²,NaN,NaN,NaN,R$ 160.000,NaN,NaN,Rua Gilda Willemsens Conceição
99,Tamanho do imóvel\n90 m²,Quantidade de quartos\n3,Quantidade de banheiros\n2,Quantidade de vagas de garagem\n2,R$ 540.000,NaN,NaN,Rua Araci

In [2]:
# Quartos

# Remove o texto
df['quartos'] = df['quartos'].str.replace('Quantidade de quartos\n', '').str.replace('2-3', '3').str.strip()

# Transforma para float
df['quartos'] = df['quartos'].apply(float)
df

,metragem,quartos,banheiros,vagas,valor,iptu,condominio,nome_rua
0,Tamanho do imóvel\n52 m²,2.0,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n2,R$ 270.000,R$ 85,R$ 380,Rua Ítalo Bordini
1,Tamanho do imóvel\n604 m²,4.0,Quantidade de banheiros\n7,Quantidade de vagas de garagem\n3,R$ 11.800.000,R$ 873,R$ 1.659,Alameda Mamoré
2,Tamanho do imóvel\n60 m²,2.0,Quantidade de banheiros\n2,Quantidade de vagas de garagem\n1,R$ 395.000,R$ 130,R$ 120,Rua Marília
3,Tamanho do imóvel\n69 m²,2.0,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n1,R$ 450.000,NaN,NaN,NaN
4,Tamanho do imóvel\n75 m²,NaN,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n2,R$ 350.000,NaN,NaN,Avenida Valentim Magalhães
...,...,...,...,...,...,...,...,...
95,Tamanho do imóvel\n58 m²,2.0,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n1,R$ 180.000,NaN,R$ 234,Rua Gladstone de Abreu Cardoso
96,Tamanho do imóvel\n139 m²,3.0,Quantidade de banheiros\n3,NaN,R$ 305.000,NaN,NaN,Rua Jussara
97,Tamanho do imóvel\n62 m²,3.0,Quantidade de banheiros\n2,Quantidade de vagas de garagem\n1-2,R$ 295.000,R$ 57,R$ 560,Rua Professora Edina Rocha de Freitas
98,Tamanho do imóvel\n250 m²,NaN,NaN,NaN,R$ 160.000,NaN,NaN,Rua Gilda Willemsens Conceição
99,Tamanho do imóvel\n90 m²,3.0,Quantidade de banheiros\n2,Quantidade de vagas de garagem\n2,R$ 540.000,NaN,NaN,Rua Araci

In [3]:
# Metragem

# Remove as partes com texto
df['metragem'] = df['metragem'].str.replace('Tamanho do imóvel\n', '').str.replace('m²', '').str.strip()

# Substitui a linha 45 de '60-63' para '62' (proximo da media)
df.loc[45, 'metragem'] = 62

# Transforma tudo para float
df['metragem'] = df['metragem'].apply(float)
df

,metragem,quartos,banheiros,vagas,valor,iptu,condominio,nome_rua
0,52.0,2.0,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n2,R$ 270.000,R$ 85,R$ 380,Rua Ítalo Bordini
1,604.0,4.0,Quantidade de banheiros\n7,Quantidade de vagas de garagem\n3,R$ 11.800.000,R$ 873,R$ 1.659,Alameda Mamoré
2,60.0,2.0,Quantidade de banheiros\n2,Quantidade de vagas de garagem\n1,R$ 395.000,R$ 130,R$ 120,Rua Marília
3,69.0,2.0,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n1,R$ 450.000,NaN,NaN,NaN
4,75.0,NaN,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n2,R$ 350.000,NaN,NaN,Avenida Valentim Magalhães
...,...,...,...,...,...,...,...,...
95,58.0,2.0,Quantidade de banheiros\n1,Quantidade de vagas de garagem\n1,R$ 180.000,NaN,R$ 234,Rua Gladstone de Abreu Cardoso
96,139.0,3.0,Quantidade de banheiros\n3,NaN,R$ 305.000,NaN,NaN,Rua Jussara
97,62.0,3.0,Quantidade de banheiros\n2,Quantidade de vagas de garagem\n1-2,R$ 295.000,R$ 57,R$ 560,Rua Professora Edina Rocha de Freitas
98,250.0,NaN,NaN,NaN,R$ 160.000,NaN,NaN,Rua Gilda Willemsens Conceição
99,90.0,3.0,Quantidade de banheiros\n2,Quantidade de vagas de garagem\n2,R$ 540.000,NaN,NaN,Rua Araci

In [4]:
# Banheiros

# Remove o texto
df['banheiros'] = df['banheiros'].str.replace('Quantidade de banheiros\n', '').str.replace('1-2', '2').str.replace('2-3', '3').str.strip()

# Transforma para float
df['banheiros'] = df['banheiros'].apply(float)
df

,metragem,quartos,banheiros,vagas,valor,iptu,condominio,nome_rua
0,52.0,2.0,1.0,Quantidade de vagas de garagem\n2,R$ 270.000,R$ 85,R$ 380,Rua Ítalo Bordini
1,604.0,4.0,7.0,Quantidade de vagas de garagem\n3,R$ 11.800.000,R$ 873,R$ 1.659,Alameda Mamoré
2,60.0,2.0,2.0,Quantidade de vagas de garagem\n1,R$ 395.000,R$ 130,R$ 120,Rua Marília
3,69.0,2.0,1.0,Quantidade de vagas de garagem\n1,R$ 450.000,NaN,NaN,NaN
4,75.0,NaN,1.0,Quantidade de vagas de garagem\n2,R$ 350.000,NaN,NaN,Avenida Valentim Magalhães
...,...,...,...,...,...,...,...,...
95,58.0,2.0,1.0,Quantidade de vagas de garagem\n1,R$ 180.000,NaN,R$ 234,Rua Gladstone de Abreu Cardoso
96,139.0,3.0,3.0,NaN,R$ 305.000,NaN,NaN,Rua Jussara
97,62.0,3.0,2.0,Quantidade de vagas de garagem\n1-2,R$ 295.000,R$ 57,R$ 560,Rua Professora Edina Rocha de Freitas
98,250.0,NaN,NaN,NaN,R$ 160.000,NaN,NaN,Rua Gilda Willemsens Conceição
99,90.0,3.0,2.0,Quantidade de vagas de garagem\n2,R$ 540.000,NaN,NaN,Rua Araci

In [5]:
# Vagas

# Remove o texto
df['vagas'] = df['vagas'].str.replace('Quantidade de vagas de garagem\n', '').str.replace('1-2', '2').str.replace('0-3', '3').str.strip()

# Transforma para float
df['vagas'] = df['vagas'].apply(float)
df

,metragem,quartos,banheiros,vagas,valor,iptu,condominio,nome_rua
0,52.0,2.0,1.0,2.0,R$ 270.000,R$ 85,R$ 380,Rua Ítalo Bordini
1,604.0,4.0,7.0,3.0,R$ 11.800.000,R$ 873,R$ 1.659,Alameda Mamoré
2,60.0,2.0,2.0,1.0,R$ 395.000,R$ 130,R$ 120,Rua Marília
3,69.0,2.0,1.0,1.0,R$ 450.000,NaN,NaN,NaN
4,75.0,NaN,1.0,2.0,R$ 350.000,NaN,NaN,Avenida Valentim Magalhães
...,...,...,...,...,...,...,...,...
95,58.0,2.0,1.0,1.0,R$ 180.000,NaN,R$ 234,Rua Gladstone de Abreu Cardoso
96,139.0,3.0,3.0,NaN,R$ 305.000,NaN,NaN,Rua Jussara
97,62.0,3.0,2.0,2.0,R$ 295.000,R$ 57,R$ 560,Rua Professora Edina Rocha de Freitas
98,250.0,NaN,NaN,NaN,R$ 160.000,NaN,NaN,Rua Gilda Willemsens Conceição
99,90.0,3.0,2.0,2.0,R$ 540.000,NaN,NaN,Rua Araci

In [6]:
# Valor

# Remove o cifrao
df['valor'] = df['valor'].str.replace('R$', '').str.replace('A partir de ', '').str.replace('.', '').str.strip()

# Transforma para float
df['valor'] = df['valor'].apply(float)
df

,metragem,quartos,banheiros,vagas,valor,iptu,condominio,nome_rua
0,52.0,2.0,1.0,2.0,270000.0,R$ 85,R$ 380,Rua Ítalo Bordini
1,604.0,4.0,7.0,3.0,11800000.0,R$ 873,R$ 1.659,Alameda Mamoré
2,60.0,2.0,2.0,1.0,395000.0,R$ 130,R$ 120,Rua Marília
3,69.0,2.0,1.0,1.0,450000.0,NaN,NaN,NaN
4,75.0,NaN,1.0,2.0,350000.0,NaN,NaN,Avenida Valentim Magalhães
...,...,...,...,...,...,...,...,...
95,58.0,2.0,1.0,1.0,180000.0,NaN,R$ 234,Rua Gladstone de Abreu Cardoso
96,139.0,3.0,3.0,NaN,305000.0,NaN,NaN,Rua Jussara
97,62.0,3.0,2.0,2.0,295000.0,R$ 57,R$ 560,Rua Professora Edina Rocha de Freitas
98,250.0,NaN,NaN,NaN,160000.0,NaN,NaN,Rua Gilda Willemsens Conceição
99,90.0,3.0,2.0,2.0,540000.0,NaN,NaN,Rua Araci

In [7]:
# IPTU

# Remove o cifrao
df['iptu'] = df['iptu'].str.replace('R$', '').str.strip()

# Transforma para float
df['iptu'] = df['iptu'].apply(float)
df

,metragem,quartos,banheiros,vagas,valor,iptu,condominio,nome_rua
0,52.0,2.0,1.0,2.0,270000.0,85.0,R$ 380,Rua Ítalo Bordini
1,604.0,4.0,7.0,3.0,11800000.0,873.0,R$ 1.659,Alameda Mamoré
2,60.0,2.0,2.0,1.0,395000.0,130.0,R$ 120,Rua Marília
3,69.0,2.0,1.0,1.0,450000.0,NaN,NaN,NaN
4,75.0,NaN,1.0,2.0,350000.0,NaN,NaN,Avenida Valentim Magalhães
...,...,...,...,...,...,...,...,...
95,58.0,2.0,1.0,1.0,180000.0,NaN,R$ 234,Rua Gladstone de Abreu Cardoso
96,139.0,3.0,3.0,NaN,305000.0,NaN,NaN,Rua Jussara
97,62.0,3.0,2.0,2.0,295000.0,57.0,R$ 560,Rua Professora Edina Rocha de Freitas
98,250.0,NaN,NaN,NaN,160000.0,NaN,NaN,Rua Gilda Willemsens Conceição
99,90.0,3.0,2.0,2.0,540000.0,NaN,NaN,Rua Araci

In [8]:
# Condominio
df['condominio'] = df['condominio'].str.replace('R$','').str.replace('.', '').str.replace('a partir de ', '').str.strip()

# Transfomar para float
df['condominio'] = df['condominio'].apply(float)
df

,metragem,quartos,banheiros,vagas,valor,iptu,condominio,nome_rua
0,52.0,2.0,1.0,2.0,270000.0,85.0,380.0,Rua Ítalo Bordini
1,604.0,4.0,7.0,3.0,11800000.0,873.0,1659.0,Alameda Mamoré
2,60.0,2.0,2.0,1.0,395000.0,130.0,120.0,Rua Marília
3,69.0,2.0,1.0,1.0,450000.0,NaN,NaN,NaN
4,75.0,NaN,1.0,2.0,350000.0,NaN,NaN,Avenida Valentim Magalhães
...,...,...,...,...,...,...,...,...
95,58.0,2.0,1.0,1.0,180000.0,NaN,234.0,Rua Gladstone de Abreu Cardoso
96,139.0,3.0,3.0,NaN,305000.0,NaN,NaN,Rua Jussara
97,62.0,3.0,2.0,2.0,295000.0,57.0,560.0,Rua Professora Edina Rocha de Freitas
98,250.0,NaN,NaN,NaN,160000.0,NaN,NaN,Rua Gilda Willemsens Conceição
99,90.0,3.0,2.0,2.0,540000.0,NaN,NaN,Rua Araci

In [9]:
# Excel

df.to_excel('imoveis_vivareal_tratado.xlsx', index=False)